*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "poppins";
}

header {
    background: transparent;

}

.container {
    max-width: 1440px;
    padding: 0 50px;
    margin: 0 auto;
}

.logo img{
    display:block;
    width: 20%;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar nav{
    display: flex;
    align-items: center;
}

.navbar nav li{
    list-style: none;
    margin-left: 1rem;
}

.navbar nav li a{
    text-decoration: none;
    color: #211917;
    font-size: 1.1rem;
    padding: 1.9rem 0.6rem;
    transition: all 0.4s ease-in;
}

.navbar nav li a:hover{
    background: #1f52a8;
    color: #ffffff;
}
body{
    background-image:linear-gradient(rgba(0, 0, 0, 0.350),rgba(0, 0, 0, 0.5)),url('../images/bella-vista-resort-overview.jpg'); /* Replace with your image path */
    background-size: cover; /* Ensures the image covers the entire header */
    background-repeat: no-repeat; /* Prevents the image from repeating */
}
.content{
    display: flex;
    flex-direction: column;
    width: 60%;
    justify-content: center;
    height: 90vh;
}
.content h2{
    font-size: 4.5rem;
    color: #ffffff;
    font-family: "ubuntu",sans-serif;
}

.content p{
    font-size: 1.1rem;
    color:#ffffff;
    line-height: 1.4;
}
.content .social_icons{
    display: flex;
    justify-content: space-between;
    width: 20%;
    font-size: 1.9rem;
    cursor: pointer;
    margin-top: 2rem;
}
.content .social_icons i{
    padding: 0.6rem;
    color: #ffffff;
    border-radius: 5px;
    border: 1px solid #ddd;
    transition: all 0.5s ease-in-out;
}
.navbar .btn{
    font-size: 1.2rem;
    color: #ffffff;
    align-items: center;
    cursor: pointer;
    display: none;
}